<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}博客系统{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="/">首页</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/articles/">文章列表</a></li>
      <li class="nav-item"><a class="nav-link" href="/upload/">上传图像</a></li>
      <li class="nav-item"><a class="nav-link" href="/masks/">Mask列表</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html> 